@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

h1 {
  @apply my-8 text-5xl font-bold text-slate-800
}

input {
  @apply w-full text-sm p-2 border border-slate-700 rounded-lg focus:ring-2 focus:ring-slate-700
}

button {
  @apply w-full h-10 bg-slate-800 font-medium text-white rounded-lg active:opacity-70 hover:opacity-90
}